Step 1: download and convert dataset from CSV to Parquet

In [7]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [77]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
from dask.distributed import Client, LocalCluster
import dask

In [ ]:
import time

In [78]:
print('pandas version: %s' % pd.__version__)
print('numpy version: %s' % np.__version__)
print('dask version: %s' % dask.__version__)

pandas version: 1.3.4
numpy version: 1.20.3
dask version: 2021.10.0

In [27]:
filename = "taxi_dataset.txt"

In [47]:
with open(filename) as file:
    csv_files = [line.rstrip() for line in file]
# only choose yellow taxis
yellow = list(filter(lambda x: "yellow" in x, csv_files))

In [49]:
# make the list small for now
yellow = yellow[:1]

In [50]:
yellow

['https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv']

In [51]:
import re
pattern = '/[^\/]*\.csv$/gm'

for csv_url in yellow:
#     get the filename only so I can sort by month / year
    csv_name = re.findall(r"[^\/]*\.csv$",csv_url)
    df = dd.read_csv(csv_url,
                dtype={'RatecodeID': 'float64',
       'VendorID': 'float64',
       'passenger_count': 'float64',
       'payment_type': 'float64',
       'tolls_amount': 'float64',
       'trip_type': 'float64'
      })
    df = df.repartition(npartitions=4)
    df.to_parquet(f'./tmp/trip_data_{csv_name}', write_index=False)

/Users/mk/opt/anaconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:125: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pandas_read_text(

Read in parquet to dask

In [79]:
ddf = dd.read_parquet(
    "./tmp/", 
    storage_options={"anon": True, 'use_ssl': True}
)

In [80]:
ddf.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.00
1,2.0,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,NaN,0.3,16.86,1.0,1.0,2.75
2,2.0,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1.0,1.0,0.00
3,2.0,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2.0,1.0,0.00
4,2.0,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,NaN,-0.3,-52.80,3.0,1.0,0.00

In [81]:
# try to do things

In [82]:
ddf = ddf[(ddf.tip_amount >= 1) & (ddf.tip_amount <= 5)]

In [83]:
ddf.persist()

Dask DataFrame Structure:
              VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag RatecodeID PULocationID DOLocationID passenger_count trip_distance fare_amount    extra  mta_tax tip_amount tolls_amount ehail_fee improvement_surcharge total_amount payment_type trip_type congestion_surcharge
npartitions=4
               float64               object                object             object    float64        int64        int64         float64       float64     float64  float64  float64    float64      float64   float64               float64      float64      float64   float64              float64
                   ...                  ...                   ...                ...        ...          ...          ...             ...           ...         ...      ...      ...        ...          ...       ...                   ...          ...          ...       ...                  ...
                   ...                  ...                   ...                ...        ...          ...          ...             ...           ...         ...      ...      ...        ...          ...       ...                   ...          ...          ...       ...                  ...
                   ...                  ...                   ...                ...        ...          ...          ...             ...           ...         ...      ...      ...        ...          ...       ...                   ...          ...          ...       ...                  ...
                   ...                  ...                   ...                ...        ...          ...          ...             ...           ...         ...      ...      ...        ...          ...       ...                   ...          ...          ...       ...                  ...
Dask Name: getitem, 4 tasks

In [84]:
# "operations" as defined by databricks.

In [85]:
# # complex arithmetic
# np.sin ... np.cos ... np.arctan2

In [86]:
len(ddf)

37878

In [87]:
len(ddf.index)

37878

In [ ]:
df.groupby(by='series_c').agg(... ['mean', 'std'] ...)

In [ ]:
# from databricks documentation.

In [ ]:
def operations(df):
    # complex arithmetic
    np.sin ... np.cos ... np.arctan2
    # count
    len(df)
    # count index
    len(df.index)
    # groupby statistics
    df.groupby(by='series_c').agg(... ['mean', 'std'] ...)
    # join
    merge(df1, df2)
    # join count
    len(merge(df1, df2))
    # mean
    df.series_a.mean()
    # mean of complex arithmetic
    (np.sin ... np.cos ... np.arctan2).mean()
    # mean of series addition
    (df.series_a + df.series_b).mean()
    # mean of series multiplication
    (df.series_a * df.series_b).mean()
    # read file
    read_parquet(...)
    # series addition
    df.series_a + df.series_b
    # series multiplication
    df.series_a * df.series_b
    # standard derivation
    df.series_a.std()
    # value counts
    df.series_a.value_counts()

In [ ]:
# Dask
df = df[(df.tip_amt >= 1) & (df.tip_amt <= 5)]
df = dask_client.persist(df)
wait(df) # Make sure data is cached.
operations(df)